[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
click = "*"
"jinja2" = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
pytest = "*"
flit = "*"
ipython = "*"
bumpversion = "*"

[requires]
python_version = "3.7"
